---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
---

<Layout title="AbotI">
	<section id="inicio" class="flex justify-center items-start self-strech pt-16 pr-32 pb-32 pl-32">
		<Home/>
	</section>
	<section id="sobre-nosotros" class="text-brand1">
	</section>
	<section id="skills"  class="text-white">
	</section>
</Layout>