---
import Layout from '../layouts/Layout.astro';
import CardCompany from '../components/CardCompany.astro';
---

<Layout title="AbotI">
	<section id="inicio" class="text-white">
		<CardCompany></CardCompany>
	</section>
	<section id="sobre-nosotros" class="text-brand1">
	</section>
	<section id="skills"  class="text-white">
	</section>
</Layout>
