---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import SobreNosotros from '../components/SobreNosotros.astro';
import Contacto from '../components/Contacto.astro';
import Demos from '../components/Demos.astro';
---

<Layout title="AbotI">
	<section id="inicio" class="flex justify-center items-start self-strech pt-16 pr-32 pb-32 pl-32 h-[100vh]">
		<Home/>
	</section>
	<section id="sobre-nosotros" class="text-brand1  bg-img-code bg-opacity-50 flex justify-center h-[100vh]">
		<SobreNosotros/>
	</section>
	<section id="demos"  class="flex justify-center items-start self-strech pt-16 pr-32 pb-32  pl-32 h-[100vh] bg-opacity-50">	  
		<Demos/>
	</section>
	<section id="contacto"  class="text-brand1 flex justify-center h-[100vh]">
		<Contacto/>
	</section>
</Layout>