---
---

<div class="flex flex-col items-center justify-center rounded-tl-[160px] rounded-br-[160px] border-4 bg-bg1 border-solid border-white shadow-card gap-[32px] w-[320px] h-[530px]">
    <div class="flex flex-col items-center gap-[32px]">
        <div class="flex flex-col items-center gap-[16px]">
            <img alt="logo" src="" class="border-3 rounded-full border-solid bg-brand1 w-[96px] h-[96px]"/>
            <div class="flex flex-col items-center">
                <p class="text-white font-ibm text-[24px] font-medium capitalize leading-10">AbotI Solutions</p>
                <p class="text-white font-ibm text-[10px] font-normal capitalize leading-10">Cambiamos tu negocio</p>
            </div>
        </div>
        <div class="flex flex-col items-start gap-[16px]">
            <div class="flex flex-col items-start gap-[16px]">
                <div class="flex justify-center items-start gap-[16px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.583361 3.48988C0.583267 3.49564 0.583257 3.50139 0.583333 3.50715V10.5C0.583333 11.4638 1.3695 12.25 2.33333 12.25H11.6667C12.6305 12.25 13.4167 11.4638 13.4167 10.5V3.50721C13.4167 3.50141 13.4167 3.4956 13.4166 3.4898C13.4111 2.53063 12.6271 1.75 11.6667 1.75H2.33333C1.37287 1.75 0.588839 2.53067 0.583361 3.48988ZM1.81217 3.2398C1.90864 3.04904 2.10702 2.91667 2.33333 2.91667H11.6667C11.893 2.91667 12.0914 3.04904 12.1878 3.2398L7 6.87128L1.81217 3.2398ZM12.25 4.62038V10.5C12.25 10.8195 11.9862 11.0833 11.6667 11.0833H2.33333C2.01383 11.0833 1.75 10.8195 1.75 10.5V4.62038L6.66548 8.06122C6.86633 8.20182 7.13367 8.20182 7.33452 8.06122L12.25 4.62038Z" fill="#12F7D6"/>
                      </svg>
                    <p class="text-white font-ibm text-[10px] font-normal capitalize leading-10">
                        info@aboti.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
