---
import Buscador  from "./ReactComponents/Buscador";
---

<header class="flex flex-col px-12 items-center self-stretch bg-bg2 top-0">
    <div class="flex items-center justify-between self-stretch">
        <div class="flex items-center py-6 gap-8">
            <div class="text-brand1 text-3xl font-code font-medium capitalize leading-10">&lt;AI/&gt;</div>
            <a class="text-white text-3xl font-medium font-code capitalize leading-10" href="/">AbotI</a>
        </div>
    
        <nav class="flex items-center gap-16">
            <div class="flex items-start gap-8">
                <a class="text-brand1 text-2xl font-normal font-ibm capitalize leading-32" href="/">Home</a>
                <a class="text-white text-2xl font-normal font-ibm capitalize leading-32" href="/">Blogs</a>
            </div>

            <div class="flex items-center gap-16">
                <Buscador></Buscador>
                <a class="flex items-center gap-2 text-white font-ibm hover:text-brand1" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <g clip-path="url(#clip0_513_656)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.11701 6.26551C8.89493 5.86187 9.78031 5.71379 10.6472 5.84235C11.5315 5.97348 12.3502 6.38554 12.9823 7.01767C13.6145 7.64979 14.0265 8.46847 14.1577 9.35276C14.2862 10.2197 14.1381 11.1051 13.7345 11.883C13.3308 12.6609 12.6922 13.2917 11.9093 13.6858C11.1265 14.0798 10.2394 14.2169 9.3741 14.0777C8.50882 13.9385 7.70949 13.5299 7.08978 12.9102C6.47007 12.2905 6.06154 11.4912 5.92231 10.6259C5.78307 9.76063 5.92022 8.87349 6.31424 8.09065C6.70826 7.30782 7.3391 6.66916 8.11701 6.26551ZM10.4028 7.49098C9.88261 7.41385 9.35138 7.5027 8.88463 7.74489C8.41788 7.98707 8.03938 8.37027 7.80297 8.83997C7.56655 9.30967 7.48427 9.84196 7.5678 10.3611C7.65135 10.8803 7.89646 11.3599 8.26829 11.7317C8.64011 12.1035 9.11972 12.3487 9.63888 12.4322C10.158 12.5157 10.6903 12.4334 11.16 12.197C11.6297 11.9606 12.0129 11.5821 12.2551 11.1154C12.4973 10.6486 12.5861 10.1174 12.509 9.59723C12.4303 9.06666 12.1831 8.57545 11.8038 8.19618C11.4245 7.8169 10.9333 7.56966 10.4028 7.49098Z" fill="#12F7D6"/>
                        <path d="M14.5834 4.58334C14.1231 4.58334 13.75 4.95643 13.75 5.41667C13.75 5.87691 14.1231 6.25 14.5834 6.25H14.5917C15.0519 6.25 15.425 5.87691 15.425 5.41667C15.425 4.95643 15.0519 4.58334 14.5917 4.58334H14.5834Z" fill="#12F7D6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.833374 5.83334C0.833374 3.07191 3.07195 0.833336 5.83337 0.833336H14.1667C16.9281 0.833336 19.1667 3.07191 19.1667 5.83334V14.1667C19.1667 16.9281 16.9281 19.1667 14.1667 19.1667H5.83337C3.07195 19.1667 0.833374 16.9281 0.833374 14.1667V5.83334ZM5.83337 2.5C3.99242 2.5 2.50004 3.99239 2.50004 5.83334V14.1667C2.50004 16.0076 3.99242 17.5 5.83337 17.5H14.1667C16.0077 17.5 17.5 16.0076 17.5 14.1667V5.83334C17.5 3.99239 16.0077 2.5 14.1667 2.5H5.83337Z" fill="#12F7D6"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_513_656">
                        <rect width="20" height="20" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                        Instagram
                </a>
                <a class="flex items-center gap-2 text-white font-ibm hover:text-brand1" href="/">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M7.91016 3.06641L7.42188 3.125C7.42188 3.125 5.23193 3.36426 3.63281 4.64844H3.61328L3.59375 4.66797C3.23486 4.99756 3.07861 5.40283 2.83203 5.99609C2.58545 6.58936 2.32178 7.34619 2.08984 8.18359C1.62598 9.86084 1.25 11.8921 1.25 13.75V13.9062L1.32812 14.0625C1.90674 15.0781 2.93457 15.7251 3.88672 16.1719C4.83887 16.6187 5.66162 16.8555 6.23047 16.875L6.60156 16.8945L6.79688 16.5625L7.48047 15.3516C8.20557 15.5151 9.04053 15.625 10 15.625C10.9595 15.625 11.7944 15.5151 12.5195 15.3516L13.2031 16.5625L13.3984 16.8945L13.7695 16.875C14.3384 16.8555 15.1611 16.6187 16.1133 16.1719C17.0654 15.7251 18.0933 15.0781 18.6719 14.0625L18.75 13.9062V13.75C18.75 11.8921 18.374 9.86084 17.9102 8.18359C17.6782 7.34619 17.4146 6.58936 17.168 5.99609C16.9214 5.40283 16.7651 4.99756 16.4062 4.66797L16.3867 4.64844H16.3672C14.7681 3.36426 12.5781 3.125 12.5781 3.125L12.0898 3.06641L11.9141 3.51562C11.9141 3.51562 11.7334 3.97217 11.6211 4.49219C10.9131 4.39697 10.3345 4.375 10 4.375C9.66553 4.375 9.08691 4.39697 8.37891 4.49219C8.2666 3.97217 8.08594 3.51562 8.08594 3.51562L7.91016 3.06641ZM7.05078 4.49219C7.07764 4.58008 7.10449 4.65576 7.12891 4.72656C6.3208 4.92676 5.45898 5.23193 4.66797 5.72266L5.33203 6.77734C6.95312 5.77148 9.28223 5.625 10 5.625C10.7178 5.625 13.0469 5.77148 14.668 6.77734L15.332 5.72266C14.541 5.23193 13.6792 4.92676 12.8711 4.72656C12.8955 4.65576 12.9224 4.58008 12.9492 4.49219C13.5327 4.60938 14.646 4.87793 15.5664 5.60547C15.5615 5.60791 15.8008 5.96924 16.0156 6.48438C16.2354 7.01416 16.4795 7.71973 16.6992 8.51562C17.1216 10.0415 17.4536 11.8994 17.4805 13.5352C17.0874 14.1357 16.3574 14.6777 15.5859 15.0391C14.9121 15.354 14.3799 15.4688 14.0625 15.5273L13.75 15C13.9355 14.9316 14.1187 14.856 14.2773 14.7852C15.2393 14.3628 15.7617 13.9062 15.7617 13.9062L14.9414 12.9688C14.9414 12.9688 14.5898 13.291 13.7695 13.6523C12.9492 14.0137 11.6968 14.375 10 14.375C8.30322 14.375 7.05078 14.0137 6.23047 13.6523C5.41016 13.291 5.05859 12.9688 5.05859 12.9688L4.23828 13.9062C4.23828 13.9062 4.76074 14.3628 5.72266 14.7852C5.88135 14.856 6.06445 14.9316 6.25 15L5.9375 15.5273C5.62012 15.4688 5.08789 15.354 4.41406 15.0391C3.64258 14.6777 2.9126 14.1357 2.51953 13.5352C2.54639 11.8994 2.87842 10.0415 3.30078 8.51562C3.52051 7.71973 3.76465 7.01416 3.98438 6.48438C4.19922 5.96924 4.43848 5.60791 4.43359 5.60547C5.354 4.87793 6.46729 4.60938 7.05078 4.49219ZM7.8125 8.75C7.3291 8.75 6.90186 9.02588 6.64062 9.375C6.37939 9.72412 6.25 10.1538 6.25 10.625C6.25 11.0962 6.37939 11.5259 6.64062 11.875C6.90186 12.2241 7.3291 12.5 7.8125 12.5C8.2959 12.5 8.72314 12.2241 8.98438 11.875C9.24561 11.5259 9.375 11.0962 9.375 10.625C9.375 10.1538 9.24561 9.72412 8.98438 9.375C8.72314 9.02588 8.2959 8.75 7.8125 8.75ZM12.1875 8.75C11.7041 8.75 11.2769 9.02588 11.0156 9.375C10.7544 9.72412 10.625 10.1538 10.625 10.625C10.625 11.0962 10.7544 11.5259 11.0156 11.875C11.2769 12.2241 11.7041 12.5 12.1875 12.5C12.6709 12.5 13.0981 12.2241 13.3594 11.875C13.6206 11.5259 13.75 11.0962 13.75 10.625C13.75 10.1538 13.6206 9.72412 13.3594 9.375C13.0981 9.02588 12.6709 8.75 12.1875 8.75ZM7.8125 10C7.84668 10 7.89062 10.0122 7.96875 10.1172C8.04688 10.2222 8.125 10.4053 8.125 10.625C8.125 10.8447 8.04688 11.0278 7.96875 11.1328C7.89062 11.2378 7.84668 11.25 7.8125 11.25C7.77832 11.25 7.73438 11.2378 7.65625 11.1328C7.57812 11.0278 7.5 10.8447 7.5 10.625C7.5 10.4053 7.57812 10.2222 7.65625 10.1172C7.73438 10.0122 7.77832 10 7.8125 10ZM12.1875 10C12.2217 10 12.2656 10.0122 12.3438 10.1172C12.4219 10.2222 12.5 10.4053 12.5 10.625C12.5 10.8447 12.4219 11.0278 12.3438 11.1328C12.2656 11.2378 12.2217 11.25 12.1875 11.25C12.1533 11.25 12.1094 11.2378 12.0312 11.1328C11.9531 11.0278 11.875 10.8447 11.875 10.625C11.875 10.4053 11.9531 10.2222 12.0312 10.1172C12.1094 10.0122 12.1533 10 12.1875 10Z" fill="#12F7D6"/>
                    </svg>

                        Discord
                </a>
                <a class="flex items-center gap-2 text-white font-ibm hover:text-brand1" href="/">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M9.99998 1.87225C8.02121 1.87234 6.10703 2.57651 4.59995 3.85879C3.09287 5.14107 2.09123 6.91777 1.77426 8.87099C1.45729 10.8242 1.84566 12.8265 2.8699 14.5195C3.89413 16.2126 5.48739 17.486 7.36458 18.1118C7.78125 18.1848 7.9375 17.9348 7.9375 17.716C7.9375 17.5181 7.92707 16.8618 7.92707 16.1639C5.83332 16.5493 5.29165 15.6535 5.12498 15.1848C4.94005 14.7289 4.64688 14.3249 4.27082 14.0077C3.97915 13.8514 3.56248 13.466 4.26039 13.4556C4.52688 13.4845 4.78247 13.5773 5.00551 13.7259C5.22854 13.8746 5.41245 14.0749 5.54165 14.3097C5.65562 14.5145 5.80888 14.6947 5.99264 14.8402C6.1764 14.9856 6.38704 15.0933 6.61251 15.1572C6.83797 15.221 7.07382 15.2398 7.30655 15.2123C7.53927 15.1849 7.76429 15.1118 7.96872 14.9972C8.00479 14.5736 8.1936 14.1775 8.49998 13.8827C6.64582 13.6744 4.70832 12.9556 4.70832 9.76811C4.6966 8.9399 5.00222 8.13859 5.56248 7.52853C5.30772 6.80871 5.33753 6.01877 5.64582 5.3202C5.64582 5.3202 6.34371 5.10144 7.93748 6.17436C9.30105 5.79934 10.7406 5.79934 12.1041 6.17436C13.6979 5.09103 14.3958 5.3202 14.3958 5.3202C14.7041 6.01876 14.734 6.80872 14.4791 7.52853C15.0411 8.13755 15.347 8.93956 15.3333 9.76811C15.3333 12.966 13.3854 13.6744 11.5312 13.8827C11.7301 14.0843 11.8833 14.3263 11.9803 14.5923C12.0774 14.8583 12.1161 15.1421 12.0937 15.4244C12.0937 16.539 12.0833 17.4348 12.0833 17.716C12.0833 17.9348 12.2396 18.1952 12.6562 18.1119C14.5301 17.4809 16.1188 16.2046 17.1387 14.5106C18.1585 12.8167 18.5432 10.8154 18.224 8.86412C17.9049 6.91279 16.9026 5.1384 15.3962 3.85768C13.8898 2.57696 11.9772 1.87328 9.99998 1.87225Z" fill="#12F7D6"/>
                        </svg>
                    Github
                </a>
            </div>
        </nav>
    </div>

    <div class="w-10/12 h-px justify-center items-center inline-flex">
        <div class="grow shrink basis-0 h-px border border-grey1"></div>
      </div>
</header>