---
---

<div class="flex flex-col px-[32px] py-[48px] items-start justify-center gap-[48px] rounded-[80px] bg-bg2 shadow-highlights">
    <div class="flex items-center gap-[16px]">
        <p class="text-brand1 font-medium font-ibm text-[48px]">
            4
        </p>
        <div class="flex flex-col justify-center items-start">
            <p class="text-white font-normal font-ibm text-[16px]">
                Programming
            </p>
            <p class="text-white font-normal font-ibm text-[16px]">
                Languague
            </p>
        </div>
    </div>


    <div class="flex items-center gap-[16px]">
        <p class="text-brand1 font-medium font-ibm text-[48px]">
            6
        </p>
        <div class="flex flex-col justify-center items-start">
            <p class="text-white font-normal font-ibm text-[16px]">
                Development
            </p>
            <p class="text-white font-normal font-ibm text-[16px]">
                Tools
            </p>
        </div>
    </div>


    <div class="flex items-center gap-[16px]">
        <p class="text-brand1 font-medium font-ibm text-[48px]">
            8
        </p>
        <div class="flex flex-col justify-center items-start">
            <p class="text-white font-normal font-ibm text-[16px]">
                Years of
            </p>
            <p class="text-white font-normal font-ibm text-[16px]">
                Experience
            </p>
        </div>
    </div>


</div>