---

---

<div
  class="flex flex-col px-[32px] py-[48px] items-start justify-center gap-[48px] rounded-[80px] bg-bg2 shadow-highlights"
>
  <div class="flex items-center gap-[16px]">
    <p class="text-brand1 font-medium font-ibm text-[48px] hover:text-brand2">
      3
    </p>
    <div class="flex flex-col justify-center items-start">
      <p class="text-white font-normal font-ibm text-[16px]">Expertos</p>
      <p class="text-white font-normal font-ibm text-[16px]">Programadores</p>
    </div>
  </div>

  <div class="flex items-center gap-[16px]">
    <p class="text-brand1 font-medium font-ibm text-[48px] hover:text-brand2">
      6
    </p>
    <div class="flex flex-col justify-center items-start">
      <p class="text-white font-normal font-ibm text-[16px]">Tecnologías</p>
      <p class="text-white font-normal font-ibm text-[16px]">Diferentes</p>
    </div>
  </div>

  <div class="flex items-center gap-[16px]">
    <p class="text-brand1 font-medium font-ibm text-[48px] hover:text-brand2">
      8
    </p>
    <div class="flex flex-col justify-center items-start">
      <p class="text-white font-normal font-ibm text-[16px]">Años</p>
      <p class="text-white font-normal font-ibm text-[16px]">Experiencia</p>
    </div>
  </div>
</div>
