---
import CardCompany from '../components/CardCompany.astro';
import Highlights from '../components/Highlights.astro';
import HomeInfo from '../components/HomeInfo.astro';
---

<div class="flex flex-1-0-0 flex-col justify-center items-center gap-[64px]">
    <div class="flex justify-center items-center self-stretch">
        <h1 class="text-brand2 text-[80px] font-code capitalize font-normal leading-10 animate-slide-in-top">AbotI Solutions</h1>
    </div>

    <div class="flex px-[128px] content-center  self-strech justify-center items-center gap-x-[128px] gap-y-[64px]">
        <div class="flex justify-center items-center">
            <CardCompany/>
        </div>
        <div class="flex justify-center items-center">
            <HomeInfo/>
            <Highlights/>
        </div>
    </div>
</div>