---
import Whatssap from "./ReactComponents/Whatssap.jsx";
---

<div class="flex flex-col items-start gap-[32px]">
    <div class="flex flex-col items-start self-strech">
        <p class="text-brand2 font-code text-[14px] font-normal hover:text-brand1">&lt;h1&gt;</p>
        <div class="flex flex-col items-start self-strech px-[16px] py-[2px]">
            <p class="text-white font-ubuntu text-[30px] font-normal">Hola</p>
            <p class="text-white font-ubuntu text-[30px] font-normal">Somos <strong class="text-brand1 hover:text-brand2">AbotI</strong>, bienvenido!</p>
            <p class="text-white font-ubuntu text-[30px] font-normal">Especialistas en digitalizar empresas</p>
        </div>
        <p class="text-brand2 font-code text-[14px] font-normal pt-[2px] hover:text-brand1">&lt;h1&gt;</p>
    </div>

    <div class="flex flex-col items-start self-strech">
        <p class="text-brand2 font-code text-[14px] font-normal hover:text-brand1">&lt;p&gt;</p>
        <div class="flex flex-col items-start self-strech px-[16px] py-[2px]">
            <p class="text-white font-ibm text-[14px] font-light">Ayudamos a empresar a digitalizar su negocio con el uso de inteligencia artificial, bot y demás herramientas.</p>
        </div>
        <p class="text-brand2 font-code text-[14px] font-normal pt-[2px] hover:text-brand1">&lt;p&gt;</p>
        <div class="flex items-start self-strech py-[6px] gap-2 items-center justify-center animate-zoom-in">
            <p class="text-brand1 font-ibm text-[30px] font-normal hover:text-brand2">Ponte en contacto! </p>
            <a href="https://wa.me/648817588">
                <svg width="38" height="38" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.00007 5.98266C0.999912 5.99253 0.999896 6.00239 1.00002 6.01225V18C1.00002 19.6523 2.34774 21 4.00002 21H20C21.6523 21 23 19.6523 23 18V6.01236C23.0002 6.00242 23.0001 5.99247 23 5.98251C22.9905 4.33822 21.6465 3 20 3H4.00002C2.35352 3 1.00947 4.3383 1.00007 5.98266ZM3.1066 5.55395C3.27198 5.22692 3.61206 5 4.00002 5H20C20.388 5 20.7281 5.22692 20.8934 5.55395L12 11.7793L3.1066 5.55395ZM21 7.92066V18C21 18.5477 20.5477 19 20 19H4.00002C3.45231 19 3.00002 18.5477 3.00002 18V7.92066L11.4266 13.8192C11.7709 14.0603 12.2292 14.0603 12.5735 13.8192L21 7.92066Z" fill="#12F7D6"/>
                </svg>                    
            </a>
        </div>
    </div>
</div>