---
---

<div class="flex flex-col items-start gap-[32px]">
    <div class="flex flex-col items-start self-strech">
        <p class="text-brand2 font-code text-[14px] font-normal">&lt;h1&gt;</p>
        <div class="flex flex-col items-start self-strech px-[16px]">
            <p class="text-white font-ubuntu text-[64px] font-normal">Hola</p>
            <p class="text-white font-ubuntu text-[64px] font-normal">Somos <p class="text-bran1">AbotI</p>, entandados de conocerte!</p>
            <p class="text-white font-ubuntu text-[64px] font-normal">Somos una empresa Española especialistas en digitalizar tu empresa <p class="text-brand2 font-code text-[14px] font-normal ml-[16px]">&lt;h1&gt;</p></p>
        </div>
    </div>

</div>