---
interface Props {
  src: string;
  alt?: string;
}

const { src, alt = "Icono de alimento" } = Astro.props;
---

<div
  class="relative min-w-10 min-h-10 w-10 h-10 text-white items-center text-center animate-hang"
  style="animation-delay: 500ms; animation-duration: 2s; animation-iteration-count: infinite"
>
  <img src={src} alt={alt} class="object-contain" />
</div>
