<div
  class="flex justify-center mb-6 xl:mb-0 xl:ml-[7%] 2xl:ml-0 rounded-tl-[40px] border-4 border-brand1 hover:text-brand1 hover:border-white rounded-br-[40px] bg-bg1 xl:mr-[70%] font-code text-white px-6 py-2 text-[20px] sm:text-[25px] font-bold whitespace-nowrap"
>
  <slot />
</div>
