
<div class="flex flex-start rounded-tl-[40px] border-4 border-brand1  hover:text-brand1 hover:border-white rounded-br-[40px] bg-bg1 mr-[70%] font-code text-white px-6 py-2 text-[25px] font-bold whitespace-nowrap">
   <slot />
</div>